## Desarrollo de API

En este archivos vamos a desarrollar nuestras funciones que luego las implementaremos en nuestro main.py

In [49]:
import pandas as pd

data = pd.read_parquet('C:\\Users\\User\\OneDrive\\Escritorio\\Proyecto Final Individual I\\data.parquet')

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45452 entries, 0 to 45535
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      45452 non-null  float64
 1   id                          45452 non-null  int64
 2   original_language           45441 non-null  object
 3   overview                    44511 non-null  object
 4   popularity                  45452 non-null  float64
 5   release_date                45452 non-null  datetime64[ns]
 6   revenue                     45452 non-null  float64
 7   runtime                     45206 non-null  float64
 8   status                      45372 non-null  object
 9   tagline                     20425 non-null  object
 10  title                       45452 non-null  object
 11  vote_average                45452 non-null  float64
 12  vote_count                  45452 non-null  float64
 13  return                      45452 non-null  float64
 14  release_year                45452 non-null  int64
 15  release_month               45452 non-null  float64
 16  month_name_es               45452 non-null  object
 17  belongs_to_collection_id    4497 non-null   float64
 18  belongs_to_collection_name  4497 non-null   object
 19  genre_id                    45452 non-null  object
 20  genre_name                  45452 non-null  object
 21  company_names               45452 non-null  object
 22  company_ids                 45452 non-null  object
 23  country_names               45452 non-null  object
 24  country_codes               45452 non-null  object
 25  language_names              45452 non-null  object
 26  launguage_codes             45452 non-null  object
 27  cast_names                  45451 non-null  object
 28  cast_characters             45451 non-null  object
 29  cast_ids                    45451 non-null  object
 30  cast_genders                45451 non-null  object
 31  cast_orders                 45451 non-null  object
 32  cast_credit_ids             45451 non-null  object
 33  crew_names                  45451 non-null  object
 34  crew_department             45451 non-null  object
 35  crew_jobs                   45451 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(2), object(24)
memory usage: 12.8+ MB

In [48]:
data['crew_names']

0        [John Lasseter, Joss Whedon, Andrew Stanton, J...
1        [Larry J. Franco, Jonathan Hensleigh, James Ho...
2        [Howard Deutch, Mark Steven Johnson, Mark Stev...
3        [Forest Whitaker, Ronald Bass, Ronald Bass, Ez...
4        [Alan Silvestri, Elliot Davis, Nancy Meyers, N...
                               ...
45530    [John Irvin, Sam Resnick, John McGrath, Sam Re...
45532    [Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, La...
45533    [Mark L. Lester, C. Courtney Joyner, Jeffrey G...
45534              [Yakov Protazanov, Joseph N. Ermolieff]
45535                                      [Daisy Asquith]
Name: crew_names, Length: 45452, dtype: object

In [43]:
data['crew_jobs']

0        [Director, Screenplay, Screenplay, Screenplay,...
1        [Executive Producer, Screenplay, Original Musi...
2          [Director, Characters, Writer, Sound Recordist]
3        [Director, Screenplay, Producer, Producer, Pro...
4        [Original Music Composer, Director of Photogra...
                               ...
45530    [Director, Writer, Writer, Story, Producer, Mu...
45532    [Director, Writer, Production Design, Music, E...
45533    [Director, Screenplay, Screenplay, Original Mu...
45534                                 [Director, Producer]
45535                                           [Director]
Name: crew_jobs, Length: 45452, dtype: object

def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [38]:
def cantidad_filmaciones_mes(mes:str):
    
    # Uso el método capitalize() para devolver una copia de la cadena con la primera letra en mayúsculas
    mes_capitalizado = mes.capitalize()
    
    mes_pelicula = data[data['month_name_es']== mes_capitalizado]
    
    cantidad = mes_pelicula.shape[0]
    
    return cantidad


entrada = input('Ingrese el mes que desee')

print('La cantidad de películas que se han realizado en el mes que ha seleccionado')
print(cantidad_filmaciones_mes(entrada))

La cantidad de películas que se han realizado en el mes que ha seleccionado
3344

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X

In [3]:
data['release_date'].value_counts()

release_date
2008-01-01    136
2009-01-01    121
2007-01-01    120
2005-01-01    111
2006-01-01    101
             ...
1973-07-22      1
1921-04-26      1
1995-04-30      1
1995-07-18      1
2017-07-18      1
Name: count, Length: 17333, dtype: int64

Tengo una variable de tipo date y lo tengo que transformar a una variable de tipo string para esta función.

In [4]:
#Con esto extraemos los días de la semana que existen en nuestro dataset
data['day_of_week'] = data['release_date'].dt.day_name()

Instalamos Unicode ya que es un estándar de codificación de caracteres que permite a los programas de Python trabajar con todos los caracteres posibles, independientemente del idioma, programa o plataforma

In [5]:
pip install unidecode

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: unidecode in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:

from unidecode import unidecode

#Transformamos los días al español mediante un diccionario

transformar={'Monday':'Lunes',
             'Tuesday':'Martes',
             'Wednesday':'Miercoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sabado',
            'Sunday':'Domingo'
}

#Aqui aplicamos el diccionario mediante map()
data['day_of_week_es'] = data['day_of_week'].map(transformar).apply(lambda x: unidecode(x.lower()))

In [7]:
def cantidad_filmaciones_dia(dia: str):
    # Normalizar la entrada del usuario
    dia_normalizado = unidecode(dia).lower()
    
    # Filtrar por el día proporcionado
    dia_pelicula = data[data['day_of_week_es'] == dia_normalizado]
    cantidad = dia_pelicula.shape[0]
    
    if cantidad == 0:
        return f"No se encontraron películas estrenadas en el día {dia}"
    
    return f"{cantidad} películas fueron estrenadas en el día {dia}"

# Solicitar entrada del usuario
dia_entrada = input("Ingrese el día de la semana: ")
print(cantidad_filmaciones_dia(dia_entrada))

4645 películas fueron estrenadas en el día martes

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.
                    Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X

In [8]:
#Aplanamos la columna title para que nosotros ingresemos sin ningun problema el titulo

data['title_normalized'] = data['title'].apply(lambda x: unidecode(x.lower()))

In [9]:
def score_titulo(titulo_de_la_filmacion:str):
    
    titulo_normalized = unidecode(titulo_de_la_filmacion.lower())
    
    film = data[data['title_normalized'] == titulo_normalized]
    
    if film.empty:
        return f'No se encontro la pelicula {titulo_normalized}' 

    titulo = film['title'].values[0]
    anio = int(film['release_year'].values[0]) #Convertir a entero por las dudas
    score=film['popularity'].values[0]
    
    return f'La pelicula {titulo} fue estrenada en el año {anio} y tiene un score/popularidad de {score}'

entrada = input('Ingrese el titulo de la pelicula')
print(score_titulo(entrada))

La pelicula Toy Story fue estrenada en el año 1995 y tiene un score/popularidad de 21.946943

def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
                    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

Ya no vamos a normalizaro porque es ya lo hicimos anteriormente

In [10]:
def votos_titulo(titulo_de_la_filmacion:str):
    titulo_normalized = unidecode(titulo_de_la_filmacion.lower())
    
    film = data[data['title_normalized'] == titulo_normalized]
    
    if film.empty:
        return f'No se encontro la pelicula {titulo_normalized}' 
    
    titulo = film['title'].values[0]
    anio = int(film['release_year'].values[0]) #Convertir a entero por las dudas
    vote= int(film['vote_count'].values[0]) #Convertir a entero por las dudas
    average=film['vote_average'].values[0]
    
    if vote < 2000:
        return f'La pelicula {titulo} no cumple con el minimo de votos para retornar valor'
    
    return f'La pelicula {titulo} fue estrenada en el año {anio}. La misma ceunta con un total de {vote} valoraciones,con un promedio de {average}'


entrada = input('Ingrese el titulo de la pelicula')
print(votos_titulo(entrada))

La pelicula Toy Story fue estrenada en el año 1995. La misma ceunta con un total de 5415 valoraciones,con un promedio de 7.7

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.
                    Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

En el caso de esta función vamos a tener que normalizar la columna de actores. Esto se debe a que varios actores trabajan en una película y si no hacemos este trabajo de desanidación se nos puede complicar el arduo trabajo que estamos llevando a cabo.

Para este caso vamos a instalar la libreria Regex para trabajar con acentuaciones que nos podemos llegar a encontrar en los nombres y con Numpy para desanidar

In [11]:
import re
import numpy as np

In [12]:
def normalizar(cast_data):
    if isinstance(cast_data,np.ndarray):
        names = [str(names).strip() for names in cast_data] # Va a recorrer nuestra lista y a cortar los espacios
    elif isinstance(cast_data,str):
        if ',' in cast_data:
            names = cast_data.strip('[]').split(',') 
            names = [name.strip().strip("'\"") for name in names] 
        # Lo que hacemos primero es dividir por comas. Luego eliminamos los corchetes por comas 
        # y finalmente eliminamos los espacios y comillas    
        else:
            names = re.findall(r"'([^']*)'", cast_data)    
            #De no haber comas, se realiza este metodo.
    else:
        return []  
    
    
    return [unidecode(name.lower()) for name in names if name]    

data['cast_names_normalized'] = data['cast_names'].apply(normalizar)

In [13]:
def get_actor(nombre_actor:str):
    nombre_actor_normalized = unidecode(nombre_actor.lower())
    
    film = data[data['cast_names_normalized'].apply(lambda actors: nombre_actor_normalized in actors)]
    
    if film.empty:
        return f'No se encontró información para {nombre_actor_normalized}' 
    
    cantidad = film.shape[0]
    retorno =  film['return'].sum()
    average=retorno/cantidad
    

    return f'El actor {nombre_actor} ha participado de {cantidad} cantidad de filmaciones, el mismo ha conseguido un retorno de {retorno:.2f} con un promedio de {average:.2f} por filmacion'


entrada = input('Ingrese el titulo de la pelicula')
print(get_actor(entrada))

El actor tim allen ha participado de 29 cantidad de filmaciones, el mismo ha conseguido un retorno de 50.20 con un promedio de 1.73 por filmacion

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

normalize_list(lst): Esta función verifica si lst no es None. Si no lo es, itera sobre la lista y normaliza cada elemento. Si lst es None, devuelve una lista vacía.
data['crew_name_normalized'] y data['crew_jobs_normalized']: Usan la función normalize_list para aplicar la normalización a cada fila en las columnas crew_names y crew_jobs.

In [52]:
import pandas as pd
from unidecode import unidecode


# Función para normalizar listas
def normalize_list(lst):
    if lst is not None:
        return [unidecode(name.lower()) for name in lst if isinstance(name, str)]
    return []

# Normalizar cada nombre y rol en las listas dentro de las columnas
data['crew_name_normalized'] = data['crew_names'].apply(normalize_list)
data['crew_jobs_normalized'] = data['crew_jobs'].apply(normalize_list)

print(data[['crew_name_normalized', 'crew_jobs_normalized']].head())

                                crew_name_normalized  \
0  [john lasseter, joss whedon, andrew stanton, j...
1  [larry j. franco, jonathan hensleigh, james ho...
2  [howard deutch, mark steven johnson, mark stev...
3  [forest whitaker, ronald bass, ronald bass, ez...
4  [alan silvestri, elliot davis, nancy meyers, n...

                                crew_jobs_normalized
0  [director, screenplay, screenplay, screenplay,...
1  [executive producer, screenplay, original musi...
2    [director, characters, writer, sound recordist]
3  [director, screenplay, producer, producer, pro...
4  [original music composer, director of photogra...

In [54]:
def get_director(nombre_director:str):
    nombre_director_normalized = unidecode(nombre_director.lower())
    
    film = data[data['crew_name_normalized'].apply(lambda director: nombre_director_normalized in director)]

    #Filtramos si existe o no. También si ocupa el rol de director o no    
    if film.empty:
        director_no = data[data['crew_name_normalized'] == nombre_director_normalized]
        if director_no.empty:
            if director_no.empty:
                job = director_no['crew_jobs'].values[0] if director_no['crew_jobs'].notna().any() else 'desconocido'
                return f"No es director, el {nombre_director} es {job}."
        else:
            return f"No se encontró información para {nombre_director}"
    



    director_pelicula = film[['title','release_date','revenue','budget']]
    director_pelicula['profit'] = director_pelicula['revenue'] - director_pelicula['budget']
    
    #Parseo de datos. Esto más que nada es para que se puede devolver un texto
    director_pelicula['release_date'] = director_pelicula['release_date'].dt.strftime('%Y-%m-%d') 
    # Creamos una lista para almacenar los detalles de cada película     
    info_peliculas = []        
            
    for _, row in director_pelicula.iterrows():
        info = (f"Película: {row['title']}, Fecha de lanzamiento: {row['release_date']}, "
                f"Retorno individual: {row['revenue']:.0f}, Costo: {row['budget']:.0f}, "
                f"Ganancia: {row['profit']:.0f}")  
        info_peliculas.append(info)
        
    
    lista ="\n".join(info_peliculas)
    return f'Director {nombre_director}\n{lista}'       
            
            
   
entrada=input('Ingrese el nombre del director')
print(get_director(entrada))

Director john lasseter
Película: Toy Story, Fecha de lanzamiento: 1995-10-30, Retorno individual: 373554033, Costo: 30000000, Ganancia: 343554033
Película: Beauty and the Beast, Fecha de lanzamiento: 1991-11-13, Retorno individual: 377350553, Costo: 25000000, Ganancia: 352350553
Película: A Bug's Life, Fecha de lanzamiento: 1998-11-25, Retorno individual: 363258859, Costo: 120000000, Ganancia: 243258859
Película: Toy Story 2, Fecha de lanzamiento: 1999-10-30, Retorno individual: 497366869, Costo: 90000000, Ganancia: 407366869
Película: Monsters, Inc., Fecha de lanzamiento: 2001-11-01, Retorno individual: 562816256, Costo: 115000000, Ganancia: 447816256
Película: Finding Nemo, Fecha de lanzamiento: 2003-05-30, Retorno individual: 940335536, Costo: 94000000, Ganancia: 846335536
Película: The Incredibles, Fecha de lanzamiento: 2004-11-05, Retorno individual: 631442092, Costo: 92000000, Ganancia: 539442092
Película: Howl's Moving Castle, Fecha de lanzamiento: 2004-11-19, Retorno individual: 234710455, Costo: 24000000, Ganancia: 210710455
Película: Luxo Jr., Fecha de lanzamiento: 1986-08-17, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Cars, Fecha de lanzamiento: 2006-06-08, Retorno individual: 461983149, Costo: 120000000, Ganancia: 341983149
Película: Ratatouille, Fecha de lanzamiento: 2007-06-22, Retorno individual: 623722818, Costo: 150000000, Ganancia: 473722818
Película: WALL·E, Fecha de lanzamiento: 2008-06-22, Retorno individual: 521311860, Costo: 180000000, Ganancia: 341311860
Película: Bolt, Fecha de lanzamiento: 2008-11-21, Retorno individual: 309979994, Costo: 150000000, Ganancia: 159979994
Película: Up, Fecha de lanzamiento: 2009-05-13, Retorno individual: 735099082, Costo: 175000000, Ganancia: 560099082
Película: Partly Cloudy, Fecha de lanzamiento: 2009-05-28, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: The Princess and the Frog, Fecha de lanzamiento: 2009-12-08, Retorno individual: 267045765, Costo: 105000000, Ganancia: 162045765
Película: Toy Story 3, Fecha de lanzamiento: 2010-06-16, Retorno individual: 1066969703, Costo: 200000000, Ganancia: 866969703
Película: Tangled, Fecha de lanzamiento: 2010-11-24, Retorno individual: 591794936, Costo: 260000000, Ganancia: 331794936
Película: Cars 2, Fecha de lanzamiento: 2011-06-11, Retorno individual: 559852396, Costo: 200000000, Ganancia: 359852396
Película: John Carter, Fecha de lanzamiento: 2012-03-07, Retorno individual: 284139100, Costo: 260000000, Ganancia: 24139100
Película: The Ballad of Nessie, Fecha de lanzamiento: 2011-04-13, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Presto, Fecha de lanzamiento: 2008-06-18, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Jack-Jack Attack, Fecha de lanzamiento: 2004-12-31, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: One Man Band, Fecha de lanzamiento: 2005-06-21, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tin Toy, Fecha de lanzamiento: 1988-08-01, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Red's Dream, Fecha de lanzamiento: 1987-08-17, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Geri's Game, Fecha de lanzamiento: 1997-11-24, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Knick Knack, Fecha de lanzamiento: 1989-01-01, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Wreck-It Ralph, Fecha de lanzamiento: 2012-11-01, Retorno individual: 471222889, Costo: 165000000, Ganancia: 306222889
Película: Paperman, Fecha de lanzamiento: 2012-11-02, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Monsters University, Fecha de lanzamiento: 2013-06-20, Retorno individual: 743559607, Costo: 200000000, Ganancia: 543559607
Película: Toy Story of Terror!, Fecha de lanzamiento: 2013-10-15, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Frozen, Fecha de lanzamiento: 2013-11-27, Retorno individual: 1274219009, Costo: 150000000, Ganancia: 1124219009
Película: La luna, Fecha de lanzamiento: 2011-01-01, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Mater and the Ghostlight, Fecha de lanzamiento: 2006-07-27, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tangled Ever After, Fecha de lanzamiento: 2012-01-13, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Planes: Fire & Rescue, Fecha de lanzamiento: 2014-07-17, Retorno individual: 151165787, Costo: 50000000, Ganancia: 101165787
Película: Big Hero 6, Fecha de lanzamiento: 2014-10-24, Retorno individual: 652105443, Costo: 165000000, Ganancia: 487105443
Película: Small Fry, Fecha de lanzamiento: 2011-11-23, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Secret of the Wings, Fecha de lanzamiento: 2012-08-17, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tinker Bell and the Lost Treasure, Fecha de lanzamiento: 2009-09-03, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Partysaurus Rex, Fecha de lanzamiento: 2012-09-14, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: The Legend of Mor'du, Fecha de lanzamiento: 2012-01-01, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Get a Horse!, Fecha de lanzamiento: 2013-11-27, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Frozen Fever, Fecha de lanzamiento: 2015-03-09, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tinker Bell and the Legend of the NeverBeast, Fecha de lanzamiento: 2014-12-12, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tinker Bell and the Pirate Fairy, Fecha de lanzamiento: 2014-02-13, Retorno individual: 20300000, Costo: 0, Ganancia: 20300000
Película: Tinker Bell and the Great Fairy Rescue, Fecha de lanzamiento: 2010-08-13, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tinker Bell, Fecha de lanzamiento: 2008-10-27, Retorno individual: 0, Costo: 48000000, Ganancia: -48000000
Película: Inside Out, Fecha de lanzamiento: 2015-06-09, Retorno individual: 857611174, Costo: 175000000, Ganancia: 682611174
Película: The Good Dinosaur, Fecha de lanzamiento: 2015-11-14, Retorno individual: 331926147, Costo: 175000000, Ganancia: 156926147
Película: Prep & Landing, Fecha de lanzamiento: 2009-12-24, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Feast, Fecha de lanzamiento: 2014-11-07, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Lava, Fecha de lanzamiento: 2015-06-21, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Sanjay's Super Team, Fecha de lanzamiento: 2015-11-25, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Zootopia, Fecha de lanzamiento: 2016-02-11, Retorno individual: 1023784195, Costo: 150000000, Ganancia: 873784195
Película: Finding Dory, Fecha de lanzamiento: 2016-06-16, Retorno individual: 1028570889, Costo: 200000000, Ganancia: 828570889
Película: Piper, Fecha de lanzamiento: 2016-06-16, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: How to Hook Up Your Home Theater, Fecha de lanzamiento: 2007-12-21, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Tick Tock Tale, Fecha de lanzamiento: 2010-06-10, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Air Mater, Fecha de lanzamiento: 2011-08-04, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Riley's First Date?, Fecha de lanzamiento: 2015-11-03, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Moana, Fecha de lanzamiento: 2016-11-23, Retorno individual: 643034466, Costo: 150000000, Ganancia: 493034466
Película: Inner Workings, Fecha de lanzamiento: 2016-11-23, Retorno individual: 0, Costo: 0, Ganancia: 0
Película: Cars 3, Fecha de lanzamiento: 2017-06-15, Retorno individual: 350170057, Costo: 175000000, Ganancia: 175170057

C:\Users\User\AppData\Local\Temp\ipykernel_11176\433619112.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_pelicula['profit'] = director_pelicula['revenue'] - director_pelicula['budget']
C:\Users\User\AppData\Local\Temp\ipykernel_11176\433619112.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_pelicula['release_date'] = director_pelicula['release_date'].dt.strftime('%Y-%m-%d')